<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morpion | JS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/morpion.css">
    <script src="/javascript/main.js" defer></script>
</head>
<body>
    <!-- Bouton retour sur l'index -->
    <a href="/view/index.html"><button>Retourner sur l'index</button></a>
    <main>
        <!-- Explication des regles et affichage de texte -->
        <section id="textArea">
            <p class="rules_p" id="p1">Ce jeu de morpion a été construit dans sa version 1 pour être joué à deux joueurs.</p>
            <p class="rules_p" id="p2">Joueur 1 : Tu auras la couleur <span id="blue">BLEUE</span> et utiliseras les "O".</p>
            <p class="rules_p" id="p3">Joueur 2 : Tu auras la couleur <span id="red">ROUGE</span> et tu utiliseras les "X".</p>
        </section>
        <!-- section pour la zone du morpion -->
        <section>
            <!-- Le plateau de jeu -->
            <div id="gameBoard">
                <!-- ligne 1 celule 1-->
                <div class="cell"></div>
                <!-- ligne 1 celule 2-->
                <div class="cell"></div>
                <!-- ligne 1 celule 3-->
                <div class="cell"></div>
                <!-- ligne 2 celule 1-->
                <div class="cell"></div>
                <!-- ligne 2 celule 2-->
                <div class="cell"></div>
                <!-- ligne 2 celule 3-->
                <div class="cell"></div>
                <!-- ligne 3 celule 1-->
                <div class="cell"></div>
                <!-- ligne 3 celule 2-->
                <div class="cell"></div>
                <!-- ligne 3 celule 3-->
                <div class="cell"></div>
            </div>
        </section>
        <button id="btn_jouer" onclick="init()">Jouer</button>
    </main>
</body>
</html>